*{
    margin: auto;
    padding: 10;
    font-family: Courier New;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul{
    position: absolute;
    right: 15%;
    list-style-type: none;
    margin-top: 45px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    border: 0px solid white; 
    border-radius: 12px; 
    transition: 0.7s ease;  
}
 ul li a:hover{
     background-color: white;
     color: black;

 }

 ul li.active a{
    background-color: white;
    color: black;
 }
 .logo img{
     position: absolute;
     left: 5%;
     width: 200px;
     height: auto;
     border-radius: 10px;
     margin-top: 17px;
 }

 .first{
     max-width: 1200px;
     margin: auto;
     
 }

 .title{
     position: absolute;
     top: 30%;
     left: 30%;
     transform:translate(-50%,-50%);
     
 }
 .title h1{
     font-size: 40px;
     color: white;
 }

 .break hr{
    position: absolute;
    top: 40%;
 }
footer{
    background-image:linear-gradient(rgba(255,153,51,0.5),rgba(255,153,51,0.5));
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .second{
    position: absolute;
    overflow: scroll;
    top: 50%;
    width: 120px;
    height: 120px;
    border: 5px solid black;
    padding: 50px;
    margin: 20px;
 }
 .titler p{
    position: absolute;
    top: 27%;
    left: 25%;
    font-size: 50px;
    font-family: 'Carter One';
    font-weight: bold;
 }
